.status-td{
   display: flex;
   flex-direction: row;
}

.btn-info {
   position: relative;
   left: 30%;
}
.editColumn {
   background-color: white;
   border-bottom: solid white 1px !important;
   border-right: solid white 1px !important;
   border-top: solid white 1px !important;
   width: 10%;
   z-index: 100;
   white-space: nowrap;
}
.companyName{
   width: 30%;
}
.jobTitle{
   width: 25%;
}
.date{
   width: 20%;
}
.status{
   width: 15%;
}