.table-testing {
   background-color: white;
   border-bottom: solid white 1px !important;
   border-right: solid white 1px !important;
   border-top: solid white 1px !important;
   width: 60px;
   height: 55px;
   z-index: 100;
   white-space: nowrap;
}

