.home-page {
    display: flex;
    flex-direction: row;
}

.job-stuffs {
    width: 100%;
    margin-left: 200px;
}

.side-bar {
    height: 100%;
    width: 200px; 
    position: fixed;
    z-index: 1; 
    top: 25; 
    left: 0;
    overflow-x: hidden; 
    display: flex;
    justify-content: center;
}

.sign-out {
    position: absolute;
    bottom: 125px;
    margin-left: auto;
    margin-right: auto;
}