#jobs {
	background-color: red;
}

#job-table-header {
	background-color: #d4edda;
}

// #table-body-div{
//    height: 600px;
//    overflow: auto;
//    width: 100%;
// }
#jobs-table {
	overflow-y: auto;
	height: 600px;
	border-collapse: collapse;
	width: 100%;
}
.jobs-table::-webkit-scrollbar {
	display: none;
}

#jobs-table #job-table-header th {
	position: sticky;
	top: 0;
	background-color: #d4edda;
}

.container {
	position: relative;
	height: 600px;
	overflow: auto;
	display: block;
}
