.faux-button {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    &:hover {
        color:white;
        background-color: #007bff;
        transform: scale(1.5);
    }
}

.notes {
    margin-top: 50px;
}

.headline {
    margin-bottom: 50px;
}